body{
    background-color: #007BFF;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.game{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    background-color: #00000000;
    padding: 5rem;
    size: 0rem;
    width: 1rem;
    height: 1rem;
    transition: background .3s;
}
.box:hover{
    background-color: #0056B3;
}
.icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4.3rem;
    font: bold 10rem Arial;
    margin-top: -5.25rem;
}
h1{
    color: #FFCD39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font: bold 2rem Arial;
}
.centralBox{
    border-right: 2pt solid #ffffff;
    border-left: 2pt solid #ffff;
}
.topBox{
    border-bottom: 2pt solid #ffff;
}
p{
    background-color: #ffa200;
    color: white;
    font: bold 2rem Arial;
    margin-top: .4rem;
    margin-bottom: 0;
    display: flex;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
    transition: background .5s;
    width: 20rem;
    margin: auto;
}
p:hover{
    background-color: #e69100;
    cursor: pointer;
}